$color: (
	// header
	headlines: #00555A,
	headlines-hover: #FFFFFF,

	// body text
	base: #8D8D8D,
	primary: #00A79D,
	primary-hover: #FFFFFF,


	
	bg: #FFFFFF,
	bg-light: #F1F1F1,
	bg-dark: #F5F5F5,

	// background overlay
	overlay: rgba(#00555A, .81),
	overlay-banner: rgba(#00555A, .7),

	// dùng cho thông báo lỗi
	error: rgba(255, 0, 0, 0.658),
	success: #4bb543,
);

$family: (
	primary: 'Lexend',
);

$media: (
	none: 0px,

	// mobile small
	ms: 320px,

	// mobile medium
	mm: 425px,

	// mobile large
	ml: 640px,

	// tablet small
	ts: 768px,

	// tablet medium
	tm: 900px,

	// tablet large
	tl: 1024px,

	// personal computer small
	ps: 1280px,

	// personal computer medium
	pm: 1440px,

	// personal computer large
	pl: 1920px,
);

$space: (
	big-l: 160px,
	big-m: 88px,
	big-s: 80px,
);


$block: (
	header: 152px,

	// // header device size large
	// header-large: 136px,
	// header-medium: 104px,
	// header-small: 80px,

	// // header scroll down 100px
	// header-scroll-large: 56px,
	// header-scroll-medium: 56px,
	// header-scroll-small: 56px,
);

$size: (
	base: 16px,

	head-1: 42px,
	head-2: 24px,
	
	nav: 18px,

	banner-tilte: 60px,
	banner-text: 20px,

	// note text
	note: 14px,


	// font-h1:48pt,
	// font-h1-tl:40px,
	// font-h1-ml:32px,

	// font-h2:24px,
	// font-h2-tl:22px,
	// font-h2-ml:18px,

	// font-p1:18px,
	// font-p1-tl:16px,
	// font-p1-ml:16px,

	// font-p2:16px,
	// font-p2-tl:14px,
	// font-p2-ml:14px,

	// font-h3:50px,
	// font-h3-tl:36px,
	// font-h3-ml:30px,

	// font-h4:23px,
	// font-h4-tl:22px,
	// font-h4-ml:20px,
	
	// font-h5:20px,
	// font-h5-tl:19px,
	// font-h5-ml:18px,
	
	// font-h6:18px,
	// font-h6-tl:17px,
	// font-h6-ml:16px,
);