section#banner
  .banner
    .banner--overlay
    .banner-img 
      img(src="./assets/images/banner.jpg" alt="banner")
    .banner-content.overlay.container
      .banner-content__title
        h2.banner-content__title--size.uppercase #{titleBanner} 
      .banner-content__desc
        p.banner-content__desc--size #{textBanner}
