section#banner
  .banner
    .banner--overlay 
    .banner-img 
      img(src="" alt)
    .banner-content
      .banner-content__title
        h1 Lorem ipsum dolor sit amet 
      .banner-content__desc
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

