footer
    .footer__wrapper 
        .footer 
            .footer__top
                .footer__top--address 
                    p.footer-box Địa chỉ
                    p.footer--desc 10 Đoàn Như Hài, phường 12, Quận 4, TP Hồ Chí Minh
                .footer__top--tel
                    p.footer-box Điện thoại
                    p.footer--desc (08) 62 58 59 44
                .footer__top--email
                    p.footer-box email
                    p.footer--desc Loremipsumdolorsit@gmail.com
                .footer__btn 
                    //- img.footer--img(src="./assets/images/icons/Path5.png", alt="")
                    <svg xmlns="http://www.w3.org/2000/svg" width="33.757" height="21.121" viewBox="0 0 33.757 21.121">
                      <path id="Path_5" data-name="Path 5" d="M1760,5255.272l12.636-12.636,12.636,12.636" transform="translate(-1755.757 -5238.393)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="6"/>
                    </svg>

            .footer__bottom 
                    .logo
                        img.logo--img(src="./assets/images/logofooter.png", alt="") 
                    .icons 
                        .icons__footer
                            img.icons--img(src="./assets/images/icons/ST.png", alt="")
                        .icons__footer
                            img.icons--img(src="./assets/images/icons/FB.png", alt="")
                        .icons__footer
                            img.icons--img(src="./assets/images/icons/IN.png", alt="")
                        .icons__footer
                            img.icons--img(src="./assets/images/icons/SKY.png", alt="")
                    .footer__bottom--note 
                        p.footer--note Copyright © 2021. All rights reserved. Designed by BRANEY  
                        