header 
    .header__wrapper 
        .header
            .logo
                img.logo--img(src="./assets/images/LOGOANXUNSLOGAN.png", alt="")   
            .navbar 
                ul.navbar__list 
                    li.navbar__items
                        a.nav-header.nav-links(href="#") Trang chủ 
                    li.navbar__items
                        a.nav-header.nav-links(href="#") Giới thiệu
                    li.navbar__items
                        a.nav-header.nav-links(href="javascript:void(0)") Dịch vụ
                        ul.navbar__drop
                            li.navbar__drop--items
                                a.nav-drop(href="#") DỊCH VỤ VẬN TẢI NỘI ĐỊA
                            li.navbar__drop--items
                                a.nav-drop(href="#") VẬN CHUYỂN HÀNG ĐƯỜNG HÀNG KHÔNG
                            li.navbar__drop--items
                                a.nav-drop(href="#") VẬN CHUYỂN HÀNG HÓA BẰNG ĐƯỜNG BIỂN
                            li.navbar__drop--items
                                a.nav-drop(href="#") DỊCH VỤ VẬN TẢI ĐA PHƯƠNG THỨC
                            li.navbar__drop--items
                                a.nav-drop(href="#") DỊCH VỤ GIAO NHẬN 3 PLS
                            li.navbar__drop--items
                                a.nav-drop(href="#") KHAI THUẾ HẢI QUAN VÀ THÔNG QUAN HÀNG HÓA
                            li.navbar__drop--items
                                a.nav-drop(href="#") DỊCH VỤ DOOR TO DOOR
                            li.navbar__drop--items
                                a.nav-drop(href="#") TÌM NGUỒN HÀNG VÀ PHÂN PHỐI SẢN PHẨM
                    li.navbar__items
                        a.nav-header.nav-links(href="#") Yêu cầu báo giá
                    li.navbar__items
                        a.nav-header.nav-links(href="#") Tiện ích 
                    li.navbar__items
                        a.nav-header.nav-links(href="#") Tin tức
                    li.navbar__items
                        a.nav-header.nav-links(href="#") Liên hệ
                
                        

