.utilities-size-wrapper
  h1.title-common.uppercase.utilities-size-wrapper__title INCOTERMS 2010
.utilities-size-content
  p Marine Only Terms:
  br/
  p FAS (Free Alongside Ship):
  br/
  p The risk of loss of or damage to the goods passes when the goods are alongside the ship, and the buyer bears all costs from that moment onwards.
  p FOB (Free on Board):
  br/
  p The risk of loss of or damage to the goods passes when the goods are on board the vessel, and the buyer bears all costs from that moment onwards.
  p CFR (Cost & Freight) to a named place
  br/
  p The risk of loss of or damage to the goods passes when the goods are on board the vessel.
  p The buyer bears all costs once the seller has delivered the goods to the named place.
  p CIF (Cost, Insurance and Freight) to a named place
  br/
  p  The risk of loss of or damage to the goods passes when the goods are on board the vessel, but the seller covers insurance costs for the buyer until freight is delivered to the name place.
  p  The buyer bears all costs once the seller has delivered the goods to the named place.
  br/
  p  All Modes of Transportation:
  br/
  p  EXW (Ex Works):
  br/
  p  The risk of loss or damage to the goods passes when the goods are recovered from the seller’s facility, and the buyer bears all costs from that moment onwards.
  p  FCA (Free Carrier) to a named place
  br/
  p  The risk of loss of or damage to the goods passes when the goods are delivered by the seller to the named place, and the buyer bears all costs from that moment onwards, however, the seller must take care of the export clearance if applicable.
  p  CIP (Carriage & Insurance Paid) to a named carrier/place
  br/
  p  The risk of loss of or damage to the goods passes when the goods turned over to the named carrier, but the seller covers insurance costs for the buyer until freight is delivered to the name place.
  p  The buyer bears all costs once the seller has delivered the goods to the named place.
  p  CPT (Carriage Paid To) to a named carrier/place
  br/
  p  The risk of loss of or damage to the goods passes when the goods are turned over to the named carrier, but the buyer bears all costs after carrier has delivered goods to a named place.
  p  DAP (Delivered at Place) to a named place
  br/
  p  The risk of loss of or damage to the goods passes once the goods are delivered at the named place, and the buyer bears all costs from the named place onwards.
  p  DAT (Delivered at Terminal) to a named terminal
  br/
  p  The risk of loss of or damage to the goods passes once the goods have been made available at said terminal.
  p  DDP (Delivered Duty Paid):
  br/
  p  The risk of loss or damage to the goods passes once the buyer has control of the product, and the seller bears all costs until goods delivered to the buyer.
  img(src="./assets/images/INCOTERMS_2010.jpg" alt="incoterms 2010")