.utilities-size-wrapper
  h1.title-common.uppercase.utilities-size-wrapper__title THUẬT NGỮ LOGISTICS
.utilities-size-keyword
  .key-words
    .word.active A
    .word B
    .word C
    .word D
    .word E
    .word F
    .word G
    .word H
    .word I
    .word J
    .word K
    .word L
    .word M
    .word N
    .word O
    .word P
    .word Q
    .word R
    .word S
    .word T
    .word U
    .word V
    .word W
.utilities-size-content__logistics
  h6.utilities-logistics Abatement
  p Sự giảm giá (Hàng hóa, cước phí,…)
  br/

  h6.utilities-logistics Accept except
  p Chấp nhận nhưng loại trừ	
  p Thuật ngữ được người thuê tàu hoặc đại lý thuê tàu sử dụng trong giao dịch để chỉ mình chấp nhận một số điều khoản hoặc chi tiết nào đó nhưng không chấp nhận các phần khác bị loại trừ sẽ được gạt bỏ hoặc sửa đổi theo yêu cầu.
  br/

  h6.utilities-logistics Accomplished bill of lading
  p Vận đơn đã nhận hàng	
  p Vận đơn gốc đã được trao cho người chuyên chở (Surrendered) tại cảng dở và hàng đã được nhận xong.
  br/

  h6.utilities-logistics Abandonment
  p Sự khước từ:	
  p Là việc từ chối thực hiện một hành động. (abandonment of action). Thí dụ: Khước từ việc thưa kiện, truy cứu, chuyến hành trình, việc giao nhận hàng vì những lý do nào đó. 2. Sự từ bỏ: Là việc từ bỏ một tài sản được bảo hiểm (Abandonment of insured property) trong trường hợp tài sản bị tổn thất coi như toàn bộ ước tính (constructive total loss). Chủ tài sản phải làm văn bản từ bỏ tài sản và thực hiện việc chuyển quyền sở hữu tài sản ấy cho người (công ty) bảo hiểm, để được người này xem xét từ chối hoặc chấp nhận bồi thường toàn bộ lô hàng. Ví dụ: Tàu bị đắm ở biển sâu, trục vớt khó khăn và tốn kém nên chủ tàu tuyên bố từ bỏ tàu, chuyển quyền sở hữu con tàu cho người (công ty) bảo hiểm xem xét từ chối hoặc chấp nhận bồi thường theo giá trị bảo hiểm của tàu. Nếu người bảo hiểm từ chối bồi thường tổn thất toàn bộ với lý do chính đáng, thì họ sẽ bồi thường tổn thất bộ phận (Partial loss).
  br/

  h6.utilities-logistics Aboard
  p 1. Trên, lên (Tàu, xe lửa, máy bay)	
  p 1. Trên, lên (Tàu, xe lửa, máy bay) – Xà lan chở trên tàu (Lighters aboard ship) – Xếp hàng lên tàu (To get aboard) 2. Với Giới từ dùng trong thuật ngữ: Va đụng với một tàu khác (to fall aboard of a ship). A.B.S Chữ viết tắt của: American Bureau of Shipping. (Xem: American Bureau of shipping)
  br/

  h6.utilities-logistics Accomplished bill of lading
  p Vận đơn đã nhận hàng	
  p Vận đơn gốc đã được trao cho người chuyên chở (Surrendered) tại cảng dỡ và hàng đã được nhận xong.
  br/

  h6.utilities-logistics Act of war
  p Hành động chiến tranh	
  p Bao gồm chiến tranh giữa các quốc gia, nội chiến, khởi nghĩa, nổi loạn, hành động thù địch như tiêu diệt, phá hoại, bắt giữ, tịch thu và các hành động chiến tranh khác tương tự… Trong nghiệp vụ bảo hiểm, rủi ro tổn thất do hành động chiến tranh được bảo hiểm theo điều kiện đặc biệt, có giới hạn, theo điều khoản bảo hiểm chiến tranh (war risk insurance clause)
  br/

  h6.utilities-logistics Actual carrier or effective carrier
  p Người chuyên chở đích thực	
  p Thuật ngữ được dùng trong nghiệp vụ gom hàng vận chuyển (Consolidation) để chỉ người chuyên chở có tàu đảm trách việc chở hàng thực sự, khác với người chuyên chở danh nghĩa theo hợp đồng vận tải nhưng không có tàu (NVOCC) đứng ra ký kết hợp đồng vận tải, sau đó lại phải thuê người chuyên chở đích thực chở hàng thay. (Xem: Consolidation or groupage)
  br/

  h6.utilities-logistics Actual total loss
  p Tổn thất toàn bộ thực tế	
  p Thuật ngữ dùng trong nghiệp vụ bảo hiểm, chỉ lô hàng được bảo hiểm bị hoàn toàn tổn thất về số lượng hoặc về phẩm chất. (Xem: Total loss)
  br/

  h6.utilities-logistics Addendum
  p Phụ lục	
  p Bản ghi những điều bổ sung vào một văn bản pháp luật chủ yếu (hiệp định, hợp đồng, thỏa thuận…), làm thành một bộ phận không tách rời của văn bản ấy. (Xem: Rider )
  br/

  h6.utilities-logistics Additional charges
  p Phụ phí	
  p Là khoản tiền phải trả thêm vào số tiền gốc theo một quy định nào đó. Thí dụ: Trong chuyên chở hàng bằng tàu chợ hay tàu container, có trường hợp người thuê tàu phải trả phụ phí về nhiên liệu tăng giá (Bunker adjustment charges), về đồng tiền trả cước mất giá (Currency adjustment charges), về lỏng hàng (Lighterage)… thêm vào số tiền cước gốc, theo quy định của chủ tàu.
  br/

  h6.utilities-logistics Additional Premium
  p Phụ phí bảo hiểm	
  p Là khoản tiền mà người bảo hiểm phải trả thêm trong trường hợp hàng được bảo hiểm theo điều kiện bảo hiểm gốc B hoặc C mà muốn mở rộng thêm một số rủi ro phụ như: rủi ro trộm cắp và / hoặc không giao hàng, thấm ướt nước mưa, nước ngọt, rách vỡ, dây bẩn do dầu mỡ, hành vi ác ý hay phá hoại… Ngoài ra, một số công ty bảo hiểm quy định người được bảo hiểm phải trả thêm phụ phí khi sử dụng “tàu già” (Tàu có nhiều năm tuổi).
  br/

  h6.utilities-logistics Address commission
  p Hoa hồng người thuê tàu	
  p Là khoản tiền tính trên phần trăm tổng số cước phí được chủ tàu / người chuyên chở trích thưởng cho người thuê tàu chuyến hoặc thuê tàu hạn định nhằm khuyến khích người này phát triển quan hệ giao dịch giữa đôi bên, Về thực chất, hoa hồng người thêu tàu là số tiền giảm cước mà chủ tàu / người chuyên chở dành cho người thuê tàu