section#index-1
  .index-introduct
    .container 
      .index-introduct--flex
        .index-introduct__title 
          h1.index-introduct__title--size.uppercase 
            | Company Introduction
        .index-introduct__desc
          p.index-introduct__desc--size ANXUN CO., LTD thành lập năm 2011, là công ty vận tải hàng hải, xuất nhập khẩu và logistics quốc tế, nhằm cung cấp tổng thể các dịch vụ xuất nhập khẩu và logistics tổng hợp cho các doanh nghiệp hoạt động tại Việt Nam, công ty trong nước hoặc công ty cổ phần, cũng như doanh nghiệp nhà nước. hoặc các công ty đầu tư trực tiếp nước ngoài.