section#index-2 
  .index-service
    .section-path
      .section-path--top
      .section-path--center
      .section-path--bottom
    .index-service--padding
      ul.index-service-list.table-row.table-column-4.table-column-2-ps.table-column-1-mx
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase Dịch vụ vận tải nội địa
              .box-content__desc
                p Dịch vụ vận chuyển nội địa được thực hiện trên tất cả các tỉnh thành Việt Nam, bao gồm
                ul 
                  li Vận chuyển bằng đường sắt, vận chuyển đường bộ với đầu kéo container, xe tải.
                  li Vận chuyển bằng đường sông, đường biển.
                  li Các tuyến vận chuyển đường hàng không nội địa.

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/truck.png")
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase VẬN CHUYỂN HÀNG HÓA BẰNG ĐƯỜNG HÀNG KHÔNG
              .box-content__desc
                p Nhằm đáp ứng nhu cầu của khách hàng về vận chuyển hàng hóa bằng đường hàng không, chúng tôi đã tạo mối quan hệ tốt với nhiều hãng hàng không cùng với hệ thống đại lý có nhiều năm kinh nghiệm để hỗ trợ khách hàng vận chuyển hàng hóa chính xác về thời gian và cùng với khách hàng theo dõi sát lịch trình của hàng hóa.

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/planes.png")
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase VẬN CHUYỂN HÀNG HÓA BẰNG ĐƯỜNG BIỂN
              .box-content__desc
                p Công ty An Xun cung cấp dịch vụ giao nhận vận tải đường biển đa dạng với chất lượng dịch vụ tốt nhất. Hệ thống đại lý khắp các khu vực cảng biển thế giới, mối quan hệ tốt với các hãng tàu uy tín, chúng tôi luôn nỗ lực hỗ trợ và cung cấp cho khách hàng các giải pháp vận tải đường biển với thời gian tối ưu và tiết kiệm chi phí nhất.

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/ship.png")
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase DỊCH VỤ VẬN TẢI HÀNG HÓA ĐA PHƯƠNG THỨC
              .box-content__desc
                p Với thế mạnh của dịch vụ vận tải đa phương thức, chúng tôi kết hợp các hình thức vận tải để vận chuyển hàng hóa theo nhu cầu của khách hàng để vận chuyển hàng nhanh nhất và tiết kiệm chi phí, tăng hiệu quả kinh doanh cho khách hàng.

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/train.png")
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase DỊCH VỤ GIAO NHẬN 3 PLS
              .box-content__desc
                p Dịch vụ 3PLS (Third-party Logistics Services) của An Xun sẽ giúp cho khách hàng có được lợi thế cạnh tranh, doanh nghiệp không phải bận tâm đến việc đầu tư phương tiện hay tài sản, thay vào đó là chỉ tập trung vào lĩnh vực hoạt động chính của doanh nghiệp nhằm giảm chi phí một cách hiệu quả nhất..

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/box.png")
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase KHAI THUẾ HẢI QUAN VÀ THÔNG QUAN HÀNG HÓA
              .box-content__desc
                p An Xun chuyên cung cấp các dịch vụ thông quan hàng hóa xuất nhập khẩu chuyên nghiệp và nhanh chóng.

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/check.png")
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase DỊCH VỤ DOOR TO DOOR
              .box-content__desc
                p Tại An Xun, chúng tôi tạo ra giá trị cho khách hàng với các dịch vụ giao nhận vận chuyển, đặc biệt là loại hình Door to door , “ Nhận hàng tận nơi, giao hàng tận tay”, khách hàng sẽ nhận được giải pháp tối ưu cho bài toán chi phí của mình, đồng thời đảm bảo cho khách hàng “Less worry. Less work”

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/box-open.png")
        li.index-service-item
          .box
            .box-content
              .box-content__title 
                h3.box-content__title--size.uppercase Tìm nguồn hàng và phân phối sản phẩm
              .box-content__desc
                ul 
                  li Tìm kiếm nguồn hàng đáp ứng theo yêu cầu kỹ thuật và chất lượng sản phẩm của khách hàng.
                  li Cung cấp quy trình phân phối sản phẩm cùng với các dịch vụ vận tải hàng hóa.
                  li Tư vấn kho bãi, thủ tục XNK phù hợp với mặt hàng.
                  li Đảm bảo chuỗi hoạt động XNK hiệu quả nhất.

            .box-bottom.table-row.table-column-2.between
              .box-bottom__more
                a.box-bottom__more-link.btn-link---more(href="#") Xem thêm
              .box-bottom__img
                img.box-bottom__img--src(src="./assets/icons/tele.png")


