section#index-3 
  .index-news 
    .container 
      .index-news--content
        .index-news__title
          h2.uppercase.title-commom.index-news__title--size Tin tức
        .index-news__slider.swiper-button__replace
          .swiper-container.index-news--swiper
            .swiper-wrapper
              .swiper-slide
                .news-box 
                  .news-box__img
                    img.news-box__img--src(src="./assets/images/news-1.jpg" alt="index news 1")
                  .news-box__content
                    .news-box__time
                      span.date-font 03 - 02 - 2021
                    .news-box__title
                      h3.head-font-2 Xuất siêu 1,3 tỉ USD trong tháng 1, tạo đà cho kinh doanh
                    .news-box__desc
                      p Xuất siêu đạt 1,3 tỉ USD ngay từ tháng đầu tiên của năm 2021 trong bối cảnh dịch bệnh COVID-19 diễn biến phức tạp đã tạo đà v.v
                    .news-box__more
                      a.btn-link---more(href="#") Xem thêm
              .swiper-slide
                .news-box 
                  .news-box__img
                    img.news-box__img--src(src="./assets/images/news-1.jpg" alt="index news 1")
                  .news-box__content
                    .news-box__time
                      span.date-font 24 - 12 - 2020
                    .news-box__title
                      h3.head-font-2 Xuất nhập khẩu Việt Nam và Nhật Bản tháng 11/2020
                    .news-box__desc
                      p Việt Nam xuất khẩu 1,7 tỉ USD hàng hóa sang Nhật Bản, đồng thời nhập khẩu về 1,9 tỉ USD. Thâm hụt thương mại gần 131,8v.v
                    .news-box__more
                      a.btn-link---more(href="#") Xem thêm
              .swiper-slide
                .news-box 
                  .news-box__img
                    img.news-box__img--src(src="./assets/images/news-1.jpg" alt="index news 1")
                  .news-box__content
                    .news-box__time
                      span.date-font 03 - 02 - 2021
                    .news-box__title
                      h3.head-font-2 Xuất siêu 1,3 tỉ USD trong tháng 1, tạo đà cho kinh doanh
                    .news-box__desc
                      p Tổng cục Thống kê cho biết, hoạt động xuất nhập khẩu hàng hóa của Việt Nam 11 tháng năm nay đạt mức xuất siêu kỷ lục 20,1 tỷ v.v
                    .news-box__more
                      a.btn-link---more(href="#") Xem thêm
              .swiper-slide
                .news-box 
                  .news-box__img
                    img.news-box__img--src(src="./assets/images/news-1.jpg" alt="index news 1")
                  .news-box__content
                    .news-box__time
                      span.date-font 03 - 02 - 2021
                    .news-box__title
                      h3.head-font-2 Xuất siêu 1,3 tỉ USD trong tháng 1, tạo đà cho kinh doanh
                    .news-box__desc
                      p Xuất siêu đạt 1,3 tỉ USD ngay từ tháng đầu tiên của năm 2021 trong bối cảnh dịch bệnh COVID-19 diễn biến phức tạp đã tạo đà...
                    .news-box__more
                      a.btn-link---more(href="#") Xem thêm

            .swiper-button-next
            .swiper-button-prev
