section#index-5 
  .index-members
    .index-members__img 
      img.index-members__img--src(src="./assets/images/extra-bg01.png")
    .index-members__customer
      .member.container
        .member__title 
          h3.member__title--size.title-common.uppercase Khách hàng
        .member__box.table-row.between.table-column-4.table-column-2-ps.table-column-1-ml
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/excelente logo FA.png")
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/tien-thinh-logo-fa1536912982.png")
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/59966989822a77742e3b.jpg")
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/logo-250.png")

    .index-members__member
      .member.container
        .member__title 
          h3.member__title--size.title-common.uppercase Thành viên
        .member__box.table-row.between.table-column-4.table-column-2-ps.table-column-1-ml
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/excelente logo FA.png")
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/tien-thinh-logo-fa1536912982.png")
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/59966989822a77742e3b.jpg")
          .member__box-item
            .member__box-item--block
              img.member__box-item--logo(src="./assets/images/logo-250.png")