*,
*::before,
*::after {
	box-sizing: border-box;
}
*:focus,
*:active {
	outline: none;
}

html,
body{
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	// 	"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	// 	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	@extend .family--primary;
	@extend .desc--lv1;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 1px;
	color: map-get($color, small);
	background-color: #000000;
}
